body {
    background-color: rgb(202, 202, 202);
    margin-left: 15%;
    margin-right: 15%;
}

.center {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

.survey-style {
    border-style: solid;
    background-color: white;
}

.my-cats,
p {
    text-align: center;
}